header {
  background-color: #A0C0AD;
  padding: 16px;
  text-align: center;
}
header .logo-name {
  padding-left: 30px;
  padding-top: 30px;
}
header .logo-name img {
  animation: rotation 1.8s linear; /* rotates logo */
}
@keyframes rotation { /* rotates logo */
  from {
    transform: rotate(0deg); /* start */
  }
  to {
    transform: rotate(359deg); /* end */
  }
}
header .name {
  font-size: 28px;
}
header .nav-items {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
  animation: drop-in 1s ease 200ms backwards; /* drop in of navbar*/
}
header .nav-items ul {
  list-style-type: none; /* gets rid of bullet points*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around; /*flex space around elements*/
  font-size: 24px;
}
header .nav-items li a, header .nav-items .dropbtn {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
  display: inline-block;
  color: black; /* set color*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*deletes default <a> formatting*/
}
header .nav-items li a:hover, header .nav-items .dropdown:hover .dropbtn {
  font-weight: bold;
  color: #D9D9D9; /* chaanges color on hover*/
}
header .nav-items li.dropdown {
  display: inline-block;
}
header .nav-items .dropdown-content {
  display: none;
  position: absolute;
  background-color: #A0C0AD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .nav-items .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
header .nav-items .dropdown-content a:hover {
  background-color: black; /*changes color on hover*/
}
header .nav-items .dropdown:hover .dropdown-content {
  display: block;
}

hr { /*line under header*/
  color: #ECFCF2;
  height: 5px;
  width: 98%;
}

@keyframes drop-in { /*drop-in animation*/
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
@media screen and (min-width: 600px) { /*breakpoint*/
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .name {
    font-size: 28px;
    margin-bottom: 0;
  }
  header .nav-items {
    padding-right: 80px;
  }
  header hr {
    color: #ECFCF2;
    height: 5px;
  }
}
footer {
  padding: 16px;
  text-align: center;
  background-color: black; /*sets footer background to black*/
  left: 0;
  bottom: 0;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
  animation: drop-in 1s ease 200ms backwards; /* social logos drop in*/
}
footer .social-media a i {
  color: #ECFCF2;
  font-size: 24px;
}
footer .contact-info p {
  color: #ECFCF2;
}
footer .contact-info a {
  text-decoration: none;
  color: #D9D9D9;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
}
footer .contact-info a:hover {
  color: #D9D9D9; /*changes color on :hover*/
  font-weight: bold;
}

@media screen and (min-width: 600px) { /*breakpoint*/
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  margin: 0;
  background-color: #A0C0AD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}/*# sourceMappingURL=index.css.map */