@import "./defaults/color";
@import "./components/header";
@import "./components/footer";

body {
    margin: 0;
    // background-color: $primary-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    
	background: linear-gradient(-45deg, #C3CBD6, #748B6F, #2A403D, #D05663);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

 
//body styling and imports pages to one