header {
  background-color: #A0C0AD;
  padding: 16px;
  text-align: center;
}
header .logo-name {
  padding-left: 30px;
  padding-top: 30px;
}
header .logo-name img {
  animation: rotation 1.8s linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
header .name {
  font-size: 28px;
}
header .nav-items {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
  animation: drop-in 1s ease 200ms backwards;
}
header .nav-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}
header .nav-items li a, header .nav-items .dropbtn {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
header .nav-items li a:hover, header .nav-items .dropdown:hover .dropbtn {
  font-weight: bold;
  color: #D9D9D9;
}
header .nav-items li.dropdown {
  display: inline-block;
}
header .nav-items .dropdown-content {
  display: none;
  position: absolute;
  background-color: #A0C0AD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .nav-items .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
header .nav-items .dropdown-content a:hover {
  background-color: black;
}
header .nav-items .dropdown:hover .dropdown-content {
  display: block;
}

hr {
  color: #ECFCF2;
  height: 5px;
  width: 98%;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
@media screen and (min-width: 600px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .name {
    font-size: 28px;
    margin-bottom: 0;
  }
  header .nav-items {
    padding-right: 80px;
  }
  header hr {
    color: #ECFCF2;
    height: 5px;
  }
}
footer { 
  padding: 16px;
  text-align: center;
  background-color: black;
  left: 0;
  bottom: 0; /* places at bottom of page */
}
footer .social-media {
  display: flex;
  justify-content: space-around; /* space out logos */
  margin-bottom: 24px;
  animation: drop-in 1s ease 200ms backwards; /* animation for social logos */
}
footer .social-media a i {
  color: #ECFCF2;
  font-size: 24px;
}
footer .contact-info p {
  color: #ECFCF2;
}
footer .contact-info a {
  text-decoration: none;
  color: #D9D9D9;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
}
footer .contact-info a:hover {
  color: #D9D9D9;
  font-weight: bold;
}

@media screen and (min-width: 600px) { /* breakpoint */
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  margin: 0;
  background-color: #A0C0AD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
main section {
  background-color: rgba(217, 217, 217, 0.3);
}
main section .blog-title {
  display: flex;
  align-content: center;
  justify-content: center;
}
main section .blog-title h1 { /* set h1 in the blog title */
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
  align-content: center;
  justify-content: center;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  animation: change-width 3.7s;
  animation-iteration-count: 1;
}
@keyframes change-width { /* typing effect */
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
main section .blog-image {
  display: flex;
  align-content: center;
  justify-content: center;
}
main section img {
  padding-top: 24px;
  height: 200px;
}
main section .blog-text {
  display: flex;
}
main section .blog-text p {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
  align-content: center;
  justify-content: center;
  padding-right: 50px;
  padding-left: 50px;
}

@media screen and (min-width: 600px) { /* breakpoint */
  main section {
    width: 65%;
  }
  main section .blog-title h1 {
    font-size: 24px;
  }
}/*# sourceMappingURL=blogpages.css.map */