header {
  background-color: #A0C0AD;
  padding: 16px;
  text-align: center;
}
header .logo-name {
  padding-left: 30px;
  padding-top: 30px;
}
header .name {
  font-size: 28px;
}
header .nav-items {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
}
header .nav-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}
header .nav-items li a, header .nav-items .dropbtn {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
header .nav-items li a:hover, header .nav-items .dropdown:hover .dropbtn {
  font-weight: bold;
  color: #D9D9D9;
}
header .nav-items li.dropdown {
  display: inline-block;
}
header .nav-items .dropdown-content {
  display: none;
  position: absolute;
  background-color: #A0C0AD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .nav-items .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
header .nav-items .dropdown-content a:hover {
  background-color: black;
}
header .nav-items .dropdown:hover .dropdown-content {
  display: block;
}

hr {
  color: #ECFCF2;
  height: 5px;
  width: 98%;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .name {
    font-size: 28px;
    margin-bottom: 0;
  }
  header .nav-items {
    padding-right: 80px;
  }
  header hr {
    color: #ECFCF2;
    height: 5px;
  }
}
footer {
  background-color: #A0C0AD;
  padding: 16px;
  text-align: center;
  background-color: black;
  left: 0;
  bottom: 0;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}
footer .social-media a i {
  color: #ECFCF2;
  font-size: 24px;
}
footer .contact-info p {
  color: #ECFCF2;
}
footer .contact-info a {
  text-decoration: none;
  color: #D9D9D9;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
}
footer .contact-info a:hover {
  color: #D9D9D9;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  margin: 0;
  background-color: #A0C0AD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main .page-title {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
  display: flex;
  align-content: center;
  justify-content: center;
}
main section {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  margin-top: 24px;
}
main section .logos {
  display: none;
}
main section form {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 40px;
}
main section form .form-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
main section form .form-info label {
  font-size: 1.2rem;
}
main section form .form-info .form-input {
  border: 1px solid #ECFCF2;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
}
main section form .form-info .form-input:not(.form-textarea) {
  height: 32px;
}
main section form .form-info .form-input.form-textarea {
  resize: none;
}
main section form .form-info .form-input:focus {
  box-shadow: 0 0 8px 6px #ECFCF2;
}
main section form .form-info .btn {
  display: flex;
  flex-direction: column;
}
main section form .form-info .btn .sub-btn {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Iso", cursive;
  font-family: "Source Code Pro", monospace;
  margin-top: 24px;
  height: 50px;
  background-color: #D9D9D9;
  border: none;
}
main section form .form-info .btn .sub-btn:hover {
  background-color: #ECFCF2;
  box-shadow: 0 12px 16px 0 #D9D9D9, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
main section form .form-check {
  font-size: 1.2rem;
}
@media screen and (min-width: 600px) {
  main section {
    flex-direction: row;
    justify-content: space-around;
  }
  main section .logos {
    display: contents;
  }
  main section .logos img {
    height: 300px;
  }
}/*# sourceMappingURL=contact.css.map */